.about-us {

	&-img {
		background-image: url('./source/img/mac.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 60%;

		@media (max-width: 768px) {
			background-size: 100%;

		}
	}

	.row{
		margin-top: 100px;
		margin-bottom: 100px;

		@media (max-width: 768px) {
			padding-top: 400px;
		}
	}

	p, ul {
		margin-bottom: 46px;
	}

	.icon {
		margin-right: 6px;
		margin-bottom: 3px;
	}
}