@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("./source/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src: url("./source/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("./source/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: italic;
  src: url("./source/fonts/OpenSans-Italic.ttf") format("truetype");
}
body {
  font-family: "OpenSans", SansSerif, serif;
  color: #666;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.title-sm {
  font-size: 34px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 42px;
  color: #000;
}
.title-sm::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}

.title {
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-top: 100px;
  margin-bottom: 42px;
  color: #000;
}
.title::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: calc(50% - 50px);
  height: 3px;
  width: 100px;
  background-color: #fcac45;
}
.title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: calc(50% - 35px);
  height: 3px;
  width: 70px;
  background-color: #fcac45;
}

ul {
  list-style-image: url("./source/icons/disc.png");
}
ul li {
  margin-bottom: 12px;
}

.navbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .nav-item.active {
  position: relative;
}
.navbar .nav-item.active::before, .navbar .nav-item.active::after {
  content: "";
  height: 3px;
  width: 50%;
  position: absolute;
  bottom: 0;
}
.navbar .nav-item.active::before {
  left: 0;
  background-color: #232323;
}
.navbar .nav-item.active::after {
  right: 0;
  background-color: #fcac45;
}

.header {
  position: relative;
  height: 790px;
  background-image: url("./source/bg/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-text {
  padding-top: 300px;
}
.header-text-top {
  font-size: 44px;
}
.header-text-brand {
  color: #fcac45;
}
.header-text-bottom {
  font-size: 20px;
}
.header-scroll {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
}
.header-scroll div {
  height: 50px;
  width: 50px;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.header-scroll div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 16px;
  background-image: url("./source/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-us-img {
  background-image: url("./source/img/mac.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60%;
}
@media (max-width: 768px) {
  .about-us-img {
    background-size: 100%;
  }
}
.about-us .row {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .about-us .row {
    padding-top: 400px;
  }
}
.about-us p, .about-us ul {
  margin-bottom: 46px;
}
.about-us .icon {
  margin-right: 6px;
  margin-bottom: 3px;
}

.team {
  background-color: #000;
  color: #fff;
  padding-bottom: 100px;
}
.team .title {
  color: #fff;
}

.photo {
  width: 130px;
  height: 130px;
  background-color: #ccc;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
